<h1><%= @user.username %></h1>
<%= render 'shared/errors' %>

<%= render "user_comments/form" %>
<ul>
  <% @user.user_comments.each do |comment| %>
    <li><%= comment.body %></li>
    <%= button_to "Delete Comment", user_comment_url(comment), method: :delete %>
  <% end %>
</ul>
